@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="top-row-title">Event Command Center</div>
            <a class="top-link pulse-ring" href="Events">Live Events</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
